<h1>Create a Cat</h1>

<%= flash[:error] %>

<form action="/cats" method="POST">
  <label>Name
    <input type="text" name="cat[name]" value="">
  </label>

  <label>Owner
    <input type="text" name="cat[owner]" value="">
  </label>

  <input type="submit">
</form>

<a href="/cats">cats</a>
