<p>
  there was an error
</p>
<p>
  Message:
  <%= e.message %>
</p>
<ul>
  Backtrace:
  <% e.backtrace_locations.each do |backtrace| %>
    <li><%= backtrace %></li>
  <% end %>
</ul>

<br>

<% error_line = e.backtrace_locations.first.to_s.split(':') %>
<% file_name = error_line[0].to_s %>
<% line_number = error_line[1].to_i %>

<% file = File.readlines(file_name) %>
<% read_line_numbers = ((line_number - 10)..(line_number + 10)) %>

<% print_out = "" %>

<% read_line_numbers.each do |number| %>
  <% next if file[number].nil? %>
 <% print_out << "#{number} #{file[number]}" %>
<% end %>

<pre><%= print_out %></pre>









<p>
  cause:
  <%= e.cause %>
</p>
